<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<th:block th:replace="~{fragments/header :: commonHead}"></th:block>
<body style="background-color: #dee2e6">
<nav class="navbar navbar-light navbar-expand-lg shadow-lg rounded-bottom" style="background-color: #f8f9fa;">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a th:href="@{/}" class="nav-link">
                <i class="bi bi-file-text"></i>
                Лицензии
            </a>
            <a th:href="@{/companies}" class="nav-link">
                <i class="bi bi-building"></i>
                Компании
            </a>
            <a th:href="@{/license_plans}" class="nav-link">
                <i class="bi bi-stickies"></i>
                Лицензионные планы
            </a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" class="nav-link active" aria-current="page">
                <i class="bi bi-gear"></i>
                Администрирование
            </a>
        </div>
        <form class="d-flex">
            <button class="btn btn-outline-danger" type="submit">
                <a th:href="@{/login}" style="text-decoration: none; color: red">Выйти</a>
            </button>
        </form>
    </div>
</nav>
<div class="mt-5 shadow-lg p-3 rounded-3" style="background-color: #f8f9fa">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="mt-3" style="color: black">Администрирование</h3>
        </div>
    </div>
    <!-- Навигация вкладок -->
    <ul class="nav nav-tabs" id="adminTabs" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" style="color: #333333" id="logs-tab" data-bs-toggle="tab"
                    data-bs-target="#logs" role="tab"
                    aria-controls="logs" aria-selected="true">
                <i class="bi bi-braces-asterisk"></i>
                Логи
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" style="color: #333333" id="users-tab" data-bs-toggle="tab" data-bs-target="#users"
                    role="tab"
                    aria-controls="users" aria-selected="false">
                <i class="bi bi-people"></i>
                Пользователи
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" style="color: #333333" id="statistics-tab" data-bs-toggle="tab"
                    data-bs-target="#statistics" role="tab"
                    aria-controls="statistics" aria-selected="false">
                <i class="bi bi-bar-chart-line"></i>
                Статистика
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" style="color: #333333" id="export-tab" data-bs-toggle="tab"
                    data-bs-target="#export" role="tab"
                    aria-controls="export" aria-selected="false">
                <i class="bi bi-database-down"></i>
                Выгрузка данных
            </button>
        </li>
    </ul>
    <!-- Содержимое вкладок -->
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="logs" role="tabpanel" aria-labelledby="logs-tab">

            <div class="col-12">
                <table id="LicenseTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            <i class="bi bi-plus-slash-minus"></i>
                            Тип изменения
                        </th>
                        <th>
                            <i class="bi bi-calendar-event"></i>
                            Дата
                        </th>
                        <th class="text-start">
                            <i class="bi bi-archive"></i>
                            Старое значение
                        </th>
                        <th class="text-start">
                            <i class="bi bi-folder-plus"></i>
                            Новое значение
                        </th>
                        <th>
                            <i class="bi bi-person"></i>
                            Пользователь
                        </th>
                        <th>
                            <i class="bi bi-file-text"></i>
                            ID лицензии
                        </th>
                    </tr>
                    </thead>
                    <tbody id="LogTableBody">
                    <tr th:each="log : ${licenseLogs}">
                        <td class="text-start">
                            <span class="badge bg-success" th:if="${log.CHANGE_TYPE == 'CREATE'}">
                            CREATE
                            </span>
                            <span class="badge bg-secondary" th:if="${log.CHANGE_TYPE == 'UPDATE'}">
                            UPDATE
                            </span>
                            <span class="badge bg-danger" th:if="${log.CHANGE_TYPE == 'DELETE'}">
                            DELETE
                            </span>
                        </td>
                        <td>
                            <samp class="text-secondary"
                                  th:text="${#dates.format(log.CHANGE_DATE, 'yyyy-MM-dd HH:mm:ss')}"></samp>
                        </td>
                        <td>
                            <i th:if="${log.OLD_VALUE == null}" class="bi bi-dash"></i>
                            <span th:unless="${log.OLD_VALUE == null}" th:text="${log.OLD_VALUE}"></span>
                        </td>
                        <td>
                            <i th:if="${log.NEW_VALUE == null}" class="bi bi-dash"></i>
                            <span th:unless="${log.NEW_VALUE == null}" th:text="${log.NEW_VALUE}"></span>
                        </td>
                        <td class="text-center" th:text="${log.user.LOGIN}"></td>
                        <td>
                            <i th:if="${log.license == null}" class="bi bi-dash"></i>
                            <span th:unless="${log.license == null}" th:text="${log.license}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Пользователи -->
        <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <i class="bi bi-person-badge"></i>
                        Имя
                    </th>
                    <th>
                        <i class="bi bi-person"></i>
                        Логин
                    </th>
                    <th>
                        <i class="bi bi-envelope"></i>
                        Email
                    </th>
                    <th>
                        <i class="bi bi-person-gear"></i>
                        Роль
                    </th>
                    <th>
                        <i class="bi bi-code-square"></i>
                        Действия
                    </th>
                </tr>
                </thead>
                <tbody id="UserTableBody">
                <tr th:each="user : ${users}">
                    <td th:text="${user.NAME}"></td>
                    <td th:text="${user.LOGIN}"></td>
                    <td th:text="${user.EMAIL}"></td>
                    <td th:text="${user.role.NAME}"></td>
                    <td>
                        <button
                                type="button"
                                class="btn btn-outline-primary"
                                data-bs-toggle="modal" data-bs-target="#UserModal"
                                th:data-id="${user.ID}"
                                th:data-name="${user.NAME}"
                                th:data-login="${user.LOGIN}"
                                th:data-email="${user.EMAIL}"
                                th:data-role-name="${user.role.NAME}">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <a class="btn btn-outline-danger"
                           th:href="@{admin/delete/{id}(id=${user.ID})}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Статистика -->
        <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
            <div class="col-12">
                <p><i class="bi bi-file-text me-2"></i><strong>Общее количество лицензий:</strong> <span
                        th:text="${totalLicenses}"
                        class="stat-value"></span>
                </p>
                <p><i class="bi bi-building me-2"></i><strong>Кол-во компаний:</strong> <span
                        th:text="${totalCompanies}"
                        class="stat-value"></span>
                </p>
                <p><i class="bi bi-stickies me-2"></i><strong>Кол-во лиц.планов:</strong> <span
                        th:text="${totalLicensePlans}"
                        class="stat-value"></span></p>

                <!-- Навигационная панель -->
                <ul class="nav nav-tabs mb-3" id="statisticsTabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link" style="color: #333333" id="companies-tab" data-bs-toggle="tab"
                                data-bs-target="#companies" type="button" role="tab"
                                aria-controls="companies" aria-selected="true">
                            <i class="bi bi-building"></i>
                            Лицензии по компаниям
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" style="color: #333333" id="plans-tab" data-bs-toggle="tab"
                                data-bs-target="#plans" type="button" role="tab"
                                aria-controls="plans" aria-selected="false">
                            <i class="bi bi-stickies"></i>
                            Лицензии по планам
                        </button>
                    </li>
                </ul>

                <!-- Содержимое вкладок -->
                <div class="tab-content">
                    <!-- Лицензии по компаниям -->
                    <div class="tab-pane fade" id="companies" role="tabpanel" aria-labelledby="companies-tab">
                        <div class="table-container"
                             style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
                            <div style="flex: 0.5; margin-right: 10px;">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <i class="bi bi-building"></i>
                                            Компания
                                        </th>
                                        <th>
                                            <i class="bi bi-file-text"></i>
                                            Кол-во лицензий
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="entry : ${licensesByCompanies}">
                                        <td th:text="${entry[0]}"></td>
                                        <td th:text="${entry[1]}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Диаграмма -->
                            <div class="statistics-container" style="flex: 0.5; margin-right: 10px;">
                                <canvas id="licenseChart" style="max-width: 300px; max-height: 150px"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="plans" role="tabpanel" aria-labelledby="plans-tab">
                        <div class="table-container"
                             style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
                            <div style="flex: 0.5; margin-right: 10px;">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <i class="bi bi-stickies"></i>
                                            План
                                        </th>
                                        <th>
                                            <i class="bi bi-file-text"></i>
                                            Кол-во лицензий
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="entry : ${licensesByPlans}">
                                        <td th:text="${entry[0]}"></td>
                                        <td th:text="${entry[1]}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="statistics-container" style="flex: 0.5; margin-right: 10px;">
                                <canvas id="plansChart" style="max-width: 300px; max-height: 150px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Выгрузка данных -->
        <div class="tab-pane fade" id="export" role="tabpanel" aria-labelledby="export-tab">
            <h3>Выгрузка данных</h3>
            <div class="list-group" style="width: 400px; height: 400px; margin-right: 10px; border-radius: 24px">
                <a th:href="@{/export/licenses}" class="list-group-item list-group-item-action"><i
                        class="bi bi-file-text me-2"></i>Выгрузка лицензий</a>
                <a th:href="@{/export/companies}" class="list-group-item list-group-item-action"><i
                        class="bi bi-building me-2"></i>Выгрузка компаний</a>
                <a th:href="@{/export/plans}" class="list-group-item list-group-item-action"><i
                        class="bi bi-stickies me-2"></i>Выгрузка лицензионных
                    планов</a>
                <a th:href="@{/export/logs}" class="list-group-item list-group-item-action"><i
                        class="bi bi-braces-asterisk me-2"></i>Выгрузка логов</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center" id="pagination"></ul>
            </nav>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления/редактирования -->
<div class="modal fade" id="UserModal" tabindex="-1" aria-labelledby="LicenseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/save}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="LicenseModalLabel">Редактировать пользователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">
                            <i class="bi bi-person-badge"></i>
                            Имя
                        </label>
                        <input type="text" class="form-control" id="UserName" name="NAME" required>
                    </div>
                    <div class="mb-3">
                        <label for="UserLogin" class="form-label">
                            <i class="bi bi-person"></i>
                            Логин
                        </label>
                        <input type="text" class="form-control" id="UserLogin" name="LOGIN" required>
                    </div>
                    <div class="mb-3">
                        <label for="UserEmail" class="form-label">
                            <i class="bi bi-envelope"></i>
                            E-Mail
                        </label>
                        <input type="email" class="form-control" id="UserEmail" name="EMAIL" required>
                    </div>
                    <div class="mb-3">
                        <label for="UserRole" class="form-label">
                            <i class="bi bi-person-gear"></i>
                            Роль
                        </label>
                        <select class="form-select" id="UserRole" name="roleId" required>
                            <option value="" disabled selected>Выберите роль</option>
                            <option th:each=" role: ${roles}" th:value="${role.ID}"
                                    th:text="${role.NAME}"></option>
                        </select>
                    </div>
                    <input type="hidden" name="ID" id="UserId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:inline="javascript">
    const licensesByCompanies = /*[[${licensesByCompanies}]]*/ [];
    const licensesByPlans = /*[[${licensesByPlans}]]*/ [];
    console.log("Лицензии по компаниям:", licensesByCompanies);
    console.log("Лицензии по планам:", licensesByPlans);
    let editButtons = document.querySelectorAll('button[data-bs-toggle="modal"][data-bs-target="#UserModal"]');
    editButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            const userId = button.getAttribute('data-id');
            const userName = button.getAttribute('data-name');
            const userLogin = button.getAttribute('data-login');
            const userEmail = button.getAttribute('data-email');
            const userRole = button.getAttribute('data-role-name');

            document.getElementById('UserId').value = userId;
            document.getElementById('UserName').value = userName;
            document.getElementById('UserLogin').value = userLogin;
            document.getElementById('UserEmail').value = userEmail;

            // Установить роль
            const roleSelect = document.getElementById('UserRole');
            [...roleSelect.options].forEach(option => {
                option.selected = option.text === userRole;
            });
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rowsPerPage = 6; // Количество строк на страницу
        const pagination = document.getElementById("pagination");

        function displayPage(rows, page) {
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;

            rows.forEach((row, index) => {
                row.style.display = index >= start && index < end ? "" : "none";
            });

            // Обновление активной кнопки
            Array.from(pagination.querySelectorAll("li")).forEach((li, index) => {
                li.classList.toggle("active", index === page - 1);
            });
        }

        function createPaginationButtons(totalPages) {
            pagination.innerHTML = ""; // Очистить предыдущие кнопки

            for (let i = 1; i <= totalPages; i++) {
                const li = document.createElement("li");
                li.classList.add("page-item");
                if (i === 1) li.classList.add("active"); // Первая кнопка активна по умолчанию

                const button = document.createElement("button");
                button.classList.add("page-link");
                button.textContent = i;
                button.addEventListener("click", () => {
                    const activeTab = document.querySelector(".tab-pane.active");
                    const rows = Array.from(activeTab.querySelectorAll("tbody tr"));
                    displayPage(rows, i);
                });

                li.appendChild(button);
                pagination.appendChild(li);
            }
        }

        function updatePagination() {
            const activeTab = document.querySelector(".tab-pane.active");
            const paginationContainer = document.getElementById("pagination");

            if (activeTab.id === "export") {
                // Если активна вкладка "Выгрузка данных", скрываем пагинацию
                paginationContainer.style.display = "none";
                return;
            }

            const rows = Array.from(activeTab.querySelectorAll("tbody tr"));
            const totalPages = Math.ceil(rows.length / rowsPerPage);

            paginationContainer.style.display = rows.length > 0 ? "flex" : "none"; // Показывать пагинацию только если есть строки
            createPaginationButtons(totalPages);
            if (rows.length > 0) {
                displayPage(rows, 1); // Показать первую страницу
            }
        }

        // Добавить слушатель на переключение вкладок
        const tabButtons = document.querySelectorAll('[data-bs-toggle="tab"]');
        tabButtons.forEach((button) =>
            button.addEventListener("shown.bs.tab", () => updatePagination())
        );

        // Инициализировать для первой вкладки
        updatePagination();
    });


    document.addEventListener('DOMContentLoaded', function () {
        function createDoughnutChart(canvasId, labels, data) {
            new Chart(document.getElementById(canvasId), {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'right',
                        }
                    }
                }
            });
        }

        function getTableData(tableSelector) {
            const table = document.querySelector(tableSelector);
            const labels = [];
            const data = [];

            table.querySelectorAll('tbody tr').forEach(row => {
                const cells = row.querySelectorAll('td');
                labels.push(cells[0].innerText.trim());
                data.push(parseInt(cells[1].innerText.trim(), 10));
            });

            return {labels, data};
        }

        let companiesChartRendered = false;
        let plansChartRendered = false;

        function renderCompaniesChart() {
            if (!companiesChartRendered) {
                const companiesData = getTableData('#companies table');
                createDoughnutChart('licenseChart', companiesData.labels, companiesData.data);
                companiesChartRendered = true;
            }
        }

        function renderPlansChart() {
            if (!plansChartRendered) {
                const plansData = getTableData('#plans table');
                createDoughnutChart('plansChart', plansData.labels, plansData.data);
                plansChartRendered = true;
            }
        }

        document.querySelectorAll('[data-bs-toggle="tab"]').forEach(tab => {
            tab.addEventListener('shown.bs.tab', function (event) {
                const targetId = event.target.getAttribute('data-bs-target');

                if (targetId === '#companies') {
                    renderCompaniesChart();
                }

                if (targetId === '#plans') {
                    renderPlansChart();
                }
            });
        });
    });


</script>
</body>
</html>
